<?xml version="1.0" encoding="UTF-8"?>
<!--
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
-->



<beans xmlns = "http://www.springframework.org/schema/beans"
           xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
           xmlns:context = "http://www.springframework.org/schema/context"
           xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
   http://www.springframework.org/schema/context
   http://www.springframework.org/schema/context/spring-context-3.0.xsd">


                                       <!--      Using setter injection -->
      <bean id="customer" class="springcoreq1.Customer">
          <property name="customerId" value="101"/>
          <property name="customerName" value="Poonguzhali"/>
          <property name="customerContact" value="8585652540"/>
          <property name="customerAddress" ref="custAddress"/>

      </bean>
      <bean id="custAddress" class="springcoreq1.Address">
          <property name="street" value="Ramapuram"/>
          <property name="city" value="Chennai"/>
          <property name="state" value="TamilNadu"/>
          <property  name="country" value="India"/>
          <property name="zip" value="600089" />
      </bean>



                                <!-- Using constructor injection -->
    <bean id="customerCon" class = "springcoreq1.Customer">
        <constructor-arg  type ="int" value="102"/>
        <constructor-arg value="Iman"/>
        <constructor-arg value="9988775860"/>
        <constructor-arg ref="custAddressCon"/>
    </bean>
    <bean id="custAddressCon" class="springcoreq1.Address">
        <constructor-arg value="porur"/>
        <constructor-arg value="Chennai"/>
        <constructor-arg value="TamilNadu"/>
        <constructor-arg value="India"/>
        <constructor-arg value="600089" />
    </bean>

    <!-- instead of adding each bean postPorcessor -->
    <context:annotation-config/>
</beans>