<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns = "http://www.springframework.org/schema/beans"
       xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context = "http://www.springframework.org/schema/context"
       xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
   http://www.springframework.org/schema/context
   http://www.springframework.org/schema/context/spring-context-3.0.xsd">
   
   <bean id="dbConfiguration" class="springcoreq6.DbConfiguration">
        <property name="dbClassName" value= "${driver}"/>
        <property name="dbUrl" value= "${url}"/>
        <property name="dbUser" value= "${user}"/>
        <property name="dbPassword" value= "${password}"/>
    </bean>
    
    <bean class = "org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
    	<property name="credentials" value = "dbConfig.properties"></property>
    </bean>


    <context:component-scan base-package="springcoreq6"/>
    <context:annotation-config/>
</beans>