<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">


<beans>
    <bean id="contextAware" class="springcoreq10.ContextAwareExample">
        <property name="place" value="Chennai"/>
        <property name="demo" ref="Demo"/>
    </bean>
    <bean id="contextAware1" class="springcoreq10.ContextAwareExample">
        <property name="place" value="Chidambaram"/>
        <property name="demo" ref="Demo"/>
    </bean>

    <bean id="Demo" class="springcoreq10.Demo" scope="prototype">
        <property name="x" value="10"/>
        <property name="y" value="20"/>
    </bean>
</beans>