
.p1 {
    border: 6px solid black;
    background-color: rgb(151,230,236);
    color: #000;
}
.p2 {
    border: 4px solid black;
    background-color: rgb(151,230,236);
    color: #000;
}   
.p3 {
    border: 2px solid black;
    background-color: rgb(151,230,236);
    color: #000;
}